<html>
    <head>
        <link rel="stylesheet" href="/add.css">
        <script src="/jQuery.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="checkout-container">

            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            
            <div class="main-body">
                
                <div class="checkout-header">
                    <span class="checkout-header-label">Add a New Game</span>
                </div>
                        <form action="/game/add-game" method="post">
                            <div class="left-column">
                                <div class="input-section">
                                    <div class="item-label">Game Title</div>
                                    <input class="input-field" type="text" name="title">
                                </div>

                                <div class="input-section">
                                    <div class="item-label">Link to Image</div>
                                    <input class="input-field" type="text" name="link">
                                </div>

                                <div class="input-section">
                                    <div class="item-label">Release Date</div>
                                    <input class="input-field" type="date" name="release">
                                </div>
                            </div>
                            
                            <div class="right-column">
                                <div class="input-section">
                                    <select class="dropdown-field" type="text" name="rating">
                                        <option disabled selected value >Rating</option>
                                        <option>Adults</option>
                                        <option>Childhood</option>
                                        <option>Everyone</option>
                                        <option>Everyone 10+</option>
                                        <option>Mature 17+</option>
                                        <option>Not Rated</option>
                                        <option>Rating Pending</option>
                                        <option>Teen</option>
                                    </select>
                                </div>     

                                <div class="input-section">
                                     <select class="dropdown-field" name="platform">
                                        <option disabled selected value>Console</option>
                                        <option value="ps4">PS4</option>
                                        <option value="xbox">Xbox One</option>
                                        <option value="switch">Switch</option>
                                    </select>
                                </div>

                                <div class="input-section">
                                     <select class="dropdown-field" type="text" name="genre">
                                        <option disabled selected value>Genre</option>
                                        <option>Action/Adventure</option>
                                        <option>Arcade/Puzzle</option>
                                        <option>Family/Party</option>
                                        <option>Fighting</option>
                                        <option>Music/Dance</option>
                                        <option>Racing</option>
                                        <option>RPG</option>
                                        <option>Shooter</option>
                                        <option>Sports</option>
                                        <option>Strategy</option>
                                    </select>
                                </div>
                            </div>

                            <div class="add-button-container">
                                <input type="submit" value="Add" class="add">
                            </div>
                            <div class="cancel-button-container"><a href="/post/upload/" class="cancel-link">Cancel</a></div>
                        </form>
            
<!--
                <div class="back">
                    <a href="/cart" class="back-link">Back to Shipment</a>
                </div>
-->
<!--                </div>-->
            </div>
        </div>
    </body>
</html>