<html>
    <head>
        <link rel="stylesheet" href="/available.css">
        <script src="/jQuery.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">   
    </head>
    
    <body>
        <div class="dashboard-container">
            <div id="nav-bar">
<!-----------------------NAVBAR JS----------------------------------->
                <script>
                    window.onscroll = function(){
                        stickyBar()
                    };

                    var navbar = document.getElementById("nav-bar");
                    var sticky = navbar.offsetTop;

                    function stickyBar(){
                        if(window.pageYOffset > sticky){
                            navbar.classList.add("sticky")
                        }else{
                            navbar.classList.remove("sticky")
                        }
                    }
                </script>
<!-------------------------------------------------------------------->
                <img src="/image/LOGO2.png" class="logo">
                
                <ul class="nav">
                    <a href="/game/games" name="games">Games</a>
                    <a href="/post/upload" name="upload">Upload</a>
                    
                    <div class="nav-right">
                        <div class="search-container">
                            <input class="search-box" type="text" name="search" placeholder=" Search..." >
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a href="/cart"><i class="fas fa-shopping-cart cart"></i></a>
                        <a href="/user/profile" class="profile" name="profile">Profile</a>
                    </div>
                </ul>
   
            </div>
            
            <div class="content-container">
<!--
                <div class="image-container">
                    <img src="image/Spiderman/rental.jpg">
                </div>
-->
            
                
                <div class="details-container">
                        
                        <div class="product-container">
                            <div class="product-name"><span>{{title}}</span></div>

                        </div>
                        
                </div>
                
                
                
                <div class="body-container">
                    <div class="after-details">
                        <div class="available-label">Available for Rent</div>
                        
                        <div class="available-container">
                            
                            {{#each posts}}
                            <div class="product" id="1">
                                <img src="{{link}}" class="available-image">
                                <div class="available-details">
                                    <div class="product-title" >{{title}}</div>
                                    <div class="price">{{price}}</div>
                                    <a href="/post/listing"><div class="rent-button">
                                        RENT
                                        </div></a>
                                </div>

                            </div>
                            {{/each}}
                            
                            <div class="product" id="2">
                                <img src="/image/Spiderman/ps4.jpg" class="available-image">
                                <div class="available-details">
                                    <div class="product-title">Marvel's Spider-Man</div>
                                    <div class="price">₱700</div>
                                     <a href="/rental2"><div class="rent-button">
                                        RENT
                                         </div></a>
                                </div>

                            </div>
                            
                        </div>
                    </div>
 
                </div>
            </div>
                
                
            

                
        </div>
    </body>
</html>