<html>
    <head>
        <link rel="stylesheet" type="text/css" href="cart.css">
        <script src="jQuery.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="cart-container">
            <div id="nav-bar">
<!-----------------------NAVBAR JS----------------------------------->
                <script>
                    window.onscroll = function(){
                        stickyBar()
                    };

                    var navbar = document.getElementById("nav-bar");
                    var sticky = navbar.offsetTop;

                    function stickyBar(){
                        if(window.pageYOffset > sticky){
                            navbar.classList.add("sticky")
                        }else{
                            navbar.classList.remove("sticky")
                        }
                    }
                </script>
<!-------------------------------------------------------------------->
                <img src="image/LOGO2.png" class="logo">
                
                <ul class="nav">
                    <a href="/games" name="games">Games</a>
                    <a href="/system" name="system">System</a>
                    <a href="/upload" name="upload">Upload</a>
                    
                    <div class="nav-right">
                        <div class="search-container">
                            <input class="search-box" type="text" name="search" placeholder=" Search..." >
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a href="/cart"><i class="fas fa-shopping-cart cart"></i></a>
                        <a href="/profile" class="profile" name="profile">Profile</a>
                    </div>
                </ul>
            </div>
            
            <div class="bg-container">
                <img src="image/bg2.jpg" id="bg-img">
            </div>  
            
            <div class="main-body">
                <div class="main-body-bg"></div>
                
                <div class="cart-header">
                    <span class="cart-header-label">My Cart</span>
                </div>
                
                <div class="table-header">
                    <span class="sTitle">TITLE</span> 
                    <span class="sCost">COST</span>
                </div>
                        
                <div class="product-container">
                    <div class="product">
                        <a class="pTitle" href="/rental">Spiderman PS4</a>
                        <span class="pCost">500</span>
                    </div>
                </div>
                    
                <form action="shipping">
                    <div>
                        <input type="submit" class="checkout" value="Checkout">
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>