<html>
    <head>
        <link rel="stylesheet" type="text/css" href="checkout.css">
        <script src="jQuery.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="checkout-container">
                        <div id="nav-bar">
<!-----------------------NAVBAR JS----------------------------------->
                <script>
                    window.onscroll = function(){
                        stickyBar()
                    };

                    var navbar = document.getElementById("nav-bar");
                    var sticky = navbar.offsetTop;

                    function stickyBar(){
                        if(window.pageYOffset > sticky){
                            navbar.classList.add("sticky")
                        }else{
                            navbar.classList.remove("sticky")
                        }
                    }
                </script>
<!-------------------------------------------------------------------->
                <img src="image/LOGO2.png" class="logo">
                
                <ul class="nav">
                    <a href="/games" name="games">Games</a>
                    <a href="/upload" name="upload">Upload</a>
                    
                    <div class="nav-right">
                        <div class="search-container">
                            <input class="search-box" type="text" name="search" placeholder=" Search..." >
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a href="/cart"><i class="fas fa-shopping-cart cart"></i></a>
                        <a href="/user/profile" class="profile" name="profile">Profile</a>
                    </div>
                </ul>
            </div>
            
            <div class="bg-container">
                <img src="image/bg2.jpg" id="bg-img">
            </div>  
            
            <div class="main-body">
                <div class="main-body-bg"></div>
                
                <div class="checkout-header">
                    <span class="checkout-header-label">Payment</span>
                </div>
                
                
<!--                <div class="checkout-body">-->
                    <div class="cardnum-label">Card Number</div>
                    <div class="name-label">Name on Card</div>
                    <div class="date-label">Expire Date</div>
                    <div class="cvv-label">CVV</div>
                        <form action="games">
                            <div class="cardnum-input">
                                <input class="cardnumber" type="text" name="cardnumber">
                            </div>

                            <div class="name-input">
                                <input class="name" type="text" name="name">
                            </div>
                            
                            <div class="date-input">
                                <input class="date" type="date" name="date">
                            </div>
                        
                            <div class="cvv-input">
                                <input class="cvv" type="text" name="cvv">
                            </div>

                            <div class="checkout-button-container">
                                <input type="submit" value="Checkout" class="subbutton checkout-button">
                            </div>
                            
                            <script>
                                    $(".checkout-button-container").click(function(){
                                        alert("Transaction successful!");
                                        console.log("blejh");
                                    });
                            </script>
                        </form>
            
                <div class="back">
                    <a href="/shipping" class="back-link">Back to Shipment</a>
                </div>
<!--                </div>-->
            </div>
            
            <div class="cart-body">
                <div class="cart-body-bg"></div>
                
<!--                <div class="cart-header">-->
                    <span class="cart-header-label">My Cart</span>
<!--                </div>-->
                
                <div class="table-header">
                    <span class="sTitle">TITLE</span> 
                    <span class="sCost">COST</span>
                </div>
                        
                <div class="product-container">
                    <div class="product">
                        <a class="pTitle" href="/rental">Spiderman PS4</a>
                        <span class="pCost">500</span>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>