<html>
    <head>
        <link rel="stylesheet" href="/history.css">
        <script src="/jQuery.js"></script>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    </head>
    
    <body>
        <div class="dashboard-container">
            <!--NAVBAR-->
            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            <!--START-->
            <h1 id="title"> History of Rented Games</h1>         
            
        <div class="post-container">
            {{!-- {{#each userHistory}} --}}
           
            <div class="fix" id="post-item">
                <div class="indiv_listing">
                    <div class="product-image-container">
                    <img class="product-image" src="{{game.link}}">
                </div>
                    <div class="details_lower" id= "details_left">
                        <div class="details">
                            <span id="release-label"> (Game Title) </span>
                            
                        </div>
                        <div class="details">
                            <span id="release-label"> (Console) </span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Released: </span>
                            <span id="release" name="region">(release date)</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Owned by </span>
                            <span id="release">(owner)</span>
                        </div>
                    </div>
                    <div class="details_lower">
                         <div class="details">
                            <span id="release-label"> Date Rented: </span>
                            <span id="release">(date rented)</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Duration: </span>
                            <span id="release">(duration)</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Unit Price: </span>
                            <span id="release">(unit price)</span>
                        </div>
                        <div class="details">
                            <span id="release-label"> Total Price: </span>
                            <span id="release">(total price)</span>
                        </div>
                    </div>
                    
                </div>
            </div>
            {{!-- {{/each}} --}}
        </div>
        {{!-- <script>
            $(document).ready(function(){
                if(!$('#post-item').length){
                    $('.post-container').append('<div class="empty-label">No rented video games.</div>')
                }
            })
        </script> --}}
    </body>
</html>