<html>
    <head>
        <link rel="stylesheet" href="/profile.css">
        <script src="/jQuery.js"></script>
        {{!-- <meta charset="UTF-8"> --}}
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">      
    </head>
    
    <body>
        <div class="dashboard-container">
            
            <div id="nav"></div>
            <script>
                $.get("/nav.html", function(data){
                    $("#nav").replaceWith(data).stop();
                });
            </script>
            
            <div class="content-container">
                
                <div class="content">
                    
                    <div class="user-details">

                        <div class="user">
                            <div class="username">{{newUser.username}}</div>
                            <div class="location-container">
                                <div class="location-label">Region:</div>
                                <div class="location">{{newUser.region}}</div>
                            </div>
                            <div class="email-container">
                                <div class="email-label">Email:</div>
                                <div class="email">{{newUser.email}}</div>
                            </div>
                        </div>
                        
                    </div>
                    
                    
                    <div class="listing-container">
                        
                        <div class="listing-label">Listings</div>
                        
                    
                    </div>
                    
                </div>
                
                
                
            </div>
        </div>
    </body>
</html>