<html>
    <head>
        <link rel="stylesheet" type="text/css" href="profile.css">
        <script src="jQuery.js"></script>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        
<!-----------------------JAVASCRIPT----------------------------------->
        <script>
        
            onload = start;
            
            function start(){
                var i = 1;
                
                function Move(){
                    i = (i%3)+1;
                    
                    document.getElementById('i'+i).checked = true;
                }
                
                setInterval(Move,4000);
            }
            
        </script>
<!-------------------------------------------------------------------->
        
    </head>
    
    <body>
        <div class="dashboard-container">
            <div id="nav-bar">
<!-----------------------NAVBAR JS----------------------------------->
                <script>
                    window.onscroll = function(){
                        stickyBar()
                    };

                    var navbar = document.getElementById("nav-bar");
                    var sticky = navbar.offsetTop;

                    function stickyBar(){
                        if(window.pageYOffset > sticky){
                            navbar.classList.add("sticky")
                        }else{
                            navbar.classList.remove("sticky")
                        }
                    }
                </script>
<!-------------------------------------------------------------------->
                <img src="image/LOGO2.png" class="logo">
                
                <ul class="nav">
                    <a href="/games" name="games">Games</a>
                    <a href="/system" name="system">System</a>
                    <a href="/upload" name="upload">Upload</a>
                    <a href="/profile" name="profile">Profile</a>
                    
                    <div class="nav-right">
                        <div class="search-container">
                            <input class="search-box" type="text" name="search" placeholder=" Search..." >
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a href="/cart"><i class="fas fa-shopping-cart cart"></i></a>
                        <a href="/logout" class="login" name="system">Logout</a>
                    </div>
                </ul>
   
            </div>
            
            <div class="content-container">
                
                <div class="header">
                    <img src="image/temp.jpg">
                </div>
                
                <div class="content">
                    
                    <div class="user-details">
                        <div class="image-wrapper">
                            <img src="image/usericon.png">
                        </div>

                        <div class="user">
                            <div class="username">John Legaspi</div>
                            <div class="location-container">
                                <div class="location-label">Location</div>
                                <div class="location">Merville, Paranaque</div>
                            </div>

                        </div>
                    </div>
                    
                    
                    <div class="listing-container">
                        
                        <div class="listing-label">Listings</div>
                        
                        <div class="product" id="2">
                                <img src="image/Spiderman/ps4.jpg" class="available-image">
                                <div class="available-details">
                                    <div class="product-title">Marvel's Spider-Man</div>
                                    <div class="price">₱700</div>
                                    <div class="rent-button">
                                        RENT
                                    </div>
                                </div>

                        </div>
                    </div>
                    
                </div>
                
                
                
            </div>
        </div>
    </body>
</html>