<html>
    <head>
        <link rel="stylesheet" type="text/css" href="system.css">
        <script src="jQuery.js"></script>
        <meta charset="UTF-8">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        
<!-----------------------JAVASCRIPT----------------------------------->
        <script>
        
            onload = start;
            
            function start(){
                var i = 1;
                
                function Move(){
                    i = (i%3)+1;
                    
                    document.getElementById('i'+i).checked = true;
                }
                
                setInterval(Move,4000);
            }
            
        </script>
<!-------------------------------------------------------------------->
        
    </head>
    
    <body>
        <div class="dashboard-container">
            <div id="nav-bar">
<!-----------------------NAVBAR JS----------------------------------->
                <script>
                    window.onscroll = function(){
                        stickyBar()
                    };

                    var navbar = document.getElementById("nav-bar");
                    var sticky = navbar.offsetTop;

                    function stickyBar(){
                        if(window.pageYOffset > sticky){
                            navbar.classList.add("sticky")
                        }else{
                            navbar.classList.remove("sticky")
                        }
                    }
                </script>
<!-------------------------------------------------------------------->
                <img src="image/LOGO2.png" class="logo">
                
                <ul class="nav">
                    <a href="/games" name="games">Games</a>
                    <a href="/upload" name="upload">Upload</a>
                    
                    <div class="nav-right">
                        <div class="search-container">
                            <input class="search-box" type="text" name="search" placeholder=" Search..." >
                            <a class="search-btn" href="#">
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                        <a href="/cart"><i class="fas fa-shopping-cart cart"></i></a>
                        <a href="/profile" class="profile" name="prpfile">Profile</a>
                    </div>
                </ul>
   
            </div>
            
            <div class="content-container">
                <div class="image-slider">
                    <input type="radio" name="images" id="i1" checked>
                    <input type="radio" name="images" id="i2">
                    <input type="radio" name="images" id="i3">
                    
                    
                    <div class="image-s" id="one">
                        <img src="image/ps1.jpg">
                        
                        <label for="i3" class="prev"><span></span></label>
                        <label for="i2" class="next"><span></span></label>
                    </div>
                    
                    <div class="image-s" id="two">
                        <img src="image/ps2.jpg">
                        
                        <label for="i1" class="prev"><span></span></label>
                        <label for="i3" class="next"><span></span></label>
                    </div>
                    
                    <div class="image-s" id="three">
                        <img src="image/ps3.jpg">
                        
                        <label for="i2" class="prev"><span></span></label>
                        <label for="i1" class="next"><span></span></label>
                    </div>
                    
                    <div class="slide-buttons">
                        <label class="dots" id="dot1" for="i1"></label>
                        <label class="dots" id="dot2" for="i2"></label>
                        <label class="dots" id="dot3" for="i3"></label>
                    </div>
                    
                </div>
                
                <div class="games-container">
                    
                    <div class="all-platforms-container">
                        <span id="ps4"><a href="/system">PlayStation 4</a></span>
                        <span id="xbox"><a href="/xbox">XBOX</a></span>
                        <span id="switch"><a href="/switch">Nintendo Switch</a></span>
                        
                    </div>
                    
                    <div class="label">
                        PlayStation 4 Games
                    </div>
<!----------------------------------------------------------FEATURED---------------------------------------------------------->
                    
                     <div class="header-title">
                        <div class="headers"><span>Featured</span></div>
                    </div>
                    
                    
                    
                    <div class="featured">
                        
                        
                        <div class="product" id="persona">
                            <a href="/persona5"><img src="image/P5/p5.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Persona 5</div>
                                <div class="release-date">Released 4/3/2017</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>

                        </div>
                        
          
                        <div class="product" id="fallout">
                            <a href="/fallout4p"><img src="image/Fallout4/falloutp.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Fallout 4</div>
                                <div class="release-date">Released 11/9/2015</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        <div class="product" id="witcher">
                            <a href="/witcherp"><img src="image/Witcher3/witcherps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Witcher 3</div>
                                <div class="release-date">Released 5/18/2015</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="product" id="mhw">
                            <a href="/mhwp"><img src="image/MHW/mhps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Monster Hunter World</div>
                                <div class="release-date">Released 1/26/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        

                        
                        <div class="product" id="nier">
                            <a href="/nier"><img src="image/NierAutomata/nier.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Nier Automata</div>
                                <div class="release-date">Released 3/6/2017</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        <div class="product" id="rdr">
                            <a href="/rdr2p"><img src="image/RDR2/rdrps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Red Dead Redemption II</div>
                                <div class="release-date">Released 10/30/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div> 
                        
                        <div class="product" id="acodyssey">
                            <a href="/acp"><img src="image/ACOdyseey/ACPS4.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Assassin's Creed Odyssey</div>
                                <div class="release-date">Released 10/4/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
        
                    </div>
<!---------------------------------------------------------MOST POPULAR--------------------------------------------------------->
                    <div class="header-title">
                        <div class="headers"><span>Most Popular</span></div>
                        <div class="see-all"><a href="/ps4Popular">See All</a></div>
                    </div>
                    
                    
                    
                    <div class="popular-games">
                        
                        
                        <div class="product" id="spiderman">
                            <a href="/spiderman"><img src="image/Spiderman/ps4.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Marvel's Spider-Man</div>
                                <div class="release-date">Released 9/7/2018</div>
                                <div class="rent-button">
                                    <a href="/available" style="text-decoration:none; color:white">RENT</a>
                                </div>
                            </div>

                        </div>
                        
                        
                        <div class="product" id="witcher">
                            <a href="/acp"><img src="image/Witcher3/witcherps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Witcher 3</div>
                                <div class="release-date">Released 5/18/2015</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="product" id="gta">
                            <a href="/gtap"><img src="image/GTAV/gtaps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">GTA V</div>
                                <div class="release-date">Released 11/17/2014</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        <div class="product" id="sekiro">
                            <a href="/sekiro"><img src="image/Sekiro/sekirops.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Sekiro: Shadows Die Twice</div>
                                <div class="release-date">Released 3/21/2019</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        <div class="product" id="acodyssey">
                            <a href="/acp"><img src="image/ACOdyseey/ACPS4.jpg" class="product-image"></a>

                            <div class="details">
                                <div class="product-title">Assassin's Creed Odyssey</div>
                                <div class="release-date">Released 10/4/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        <div class="product" id="nba2k19">
                            <a href="/nbap"><img src="image/NBA2K19/nbaps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">NBA 2K19</div>
                                <div class="release-date">Released 9/10/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        <div class="product" id="gow">
                            <a href="/gow"><img src="image/GoW/gow.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">God of War</div>
                                <div class="release-date">Released 4/19/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div> 
                        
                    </div>
<!----------------------------------------------------------------------------------------->
                    <div class="header-title">
                        <div class="headers"><span>Recent Releases</span></div>
                        <div class="see-all"><a href="/ps4Recent">See All</a></div>
                    </div>
                    
                    
                    
                    <div class="recent-releases">
                        
                          <div class="product" id="sekiro">
                            <a href="/sekiro"><img src="image/Sekiro/sekirops.jpg" class="product-image"></a>
                            <div class="details">
                                <div class="product-title">Sekiro: Shadows Die Twice</div>
                                <div class="release-date">Released 3/21/2019</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>                      
  
                        <div class="product" id="rdr2">
                            <a href="/rdr2p"><img src="image/RDR2/rdrps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Red Dead Redemption II</div>
                                <div class="release-date">Released 10/30/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>                        
                        
                        <div class="product" id="AC">
                            <a href="/acp"><img src="image/ACOdyseey/ACPS4.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">Assassin's Creed Odyssey</div>
                                <div class="release-date">Released 10/4/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>

                        </div>
                        
                        
                        <div class="product" id="nba2k19">
                            <a href="/nbap"><img src="image/NBA2K19/nbaps.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">NBA 2K19</div>
                                <div class="release-date">Released 9/10/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="product" id="spiderman">
                            <a href="/spiderman"><img src="image/Spiderman/ps4.jpg" class="product-image"></a>
                            <div class="details">
                                <div class="product-title">Marvel's Spider-Man</div>
                                <div class="release-date">Released 9/7/2018</div>
                                <div class="rent-button">
                                    <a href="/available" style="text-decoration:none; color:white">RENT</a>
                                </div>
                            </div>

                        </div>
                        
                        <div class="product" id="gow">
                            <a href="/gow"><img src="image/GoW/gow.jpg" class="product-image"></a>
                            
                            <div class="details">
                                <div class="product-title">God of War</div>
                                <div class="release-date">Released 4/19/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="product" id="mhw">
                            <a href="/mhwp"><img src="image/MHW/mhps.jpg" class="product-image"></a>
                            <div class="details">
                                <div class="product-title">Monster Hunter World</div>
                                <div class="release-date">Released 1/26/2018</div>
                                <div class="rent-button">
                                    RENT
                                </div>
                            </div>

                        </div>

                        

                        

                        
 
                    </div>
                    
                </div>
                
            </div>
        </div>
    </body>
</html>