/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lemonmilk;
    src: url(fonts/lemonmilk.otf);
    font-weight: normal;
    font-style: normal;

}
/*----------------------------------------------------*/
*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}

.main-body{
    width: 800px;
    height: fill;
    margin: auto;
    margin-top: 15px;
    padding: 15px;
    background-color: #373737;
    text-align: center;
}

.checkout-header-label{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    margin-right: 500px;
}

.checkout-container{
    background-image: url("image/bg2.jpg");
    height: 100%;
}

.item-label{
    color: #fff;
    font-family: ralewayregular;
}

.input-field{
    width: 100%;
    height: 30px;
    background-color: #373737;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
}

.dropdown-field{
    width: 100%;
    height: 40px;
    background-color: #464646;
    color: #fff;
    border: none;
    margin-top: 10px;
    font-size: 20px;
}

.input-field-container .tooltip-text{
    visibility: hidden;
    background-color: #fd8f4b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    white-space: nowrap;
}

.input-field-container:hover .tooltip-text{
    visibility: visible;
}

.input-section{
    text-align: left;
    margin-bottom: 20px;
    position: relative;
}

.left-column{
    float: left;
    height: 200px;
    width: 350px;
    margin: 25px;
}

.right-column{
    float: right;
    height: 200px;
    width: 350px;
    margin: 25px;
}

.add{
    height: 2.5em;
    width: 50%;
    background-color: #fd8f4b;
    opacity: 0.8;
/*    background-image: -webkit-linear-gradient(right, #37AC99,#076FAD);*/
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    font-family: ralewayregular;
}

.add:hover{
    background-color: #f66d18;
    cursor: pointer;
}

.cancel-button-container{
    height: 1.5em;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    background-color: gray;
    opacity: 0.8;
    color: #FFF;
    width: 20%;
}

.cancel-button-container:hover{
    cursor: pointer;
    background-color: lightgray;
    
}
.cancel-link{
    text-decoration: none;
    color: inherit;
    font-family: ralewayregular;
}

input[type="date"]{
    color: #FFF;
}