/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lemonmilk;
    src: url(fonts/lemonmilk.otf);
    font-weight: normal;
    font-style: normal;

}
/*----------------------------------------------------*/
*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}


.bg-container{
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg-img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-height: 50%;
    min-width: 50%;
}

.cart-container{
    background-color:#333;
    height: 100%;
    margin: 0px;
    min-width: 100%;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}

.content-container{
    background-color: #333;
    height: 100%;
    margin: 0px;
    display: block;
}

#nav-bar{
    height: 5em;
    background-color: #737373;
    overflow: hidden;
    padding: 0 20px;
    color: white;
    position: relative;
    z-index: 99;
}

.logo{
    height: 2.5em;
    margin-top: 1%;
    float: left;
    padding-right: 2.1875em;
}

.nav{
    line-height: 5em;
}

.nav a{
    font-family: ralewaysemibold;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0 10px;
    transition: 0.4s;
}

.search-container{
    position: absolute;
    transform: translate(-50%, -35%);
    background: #2f3640;
    height: 1.875em;
    border-radius: 30px;
    margin-top: 0.625em;
    padding: 0.625em;
    top: 1.3em;
    left: 83%;
}

.search-btn{
    color: #fd8f4b;
    float: right;
    width: 10px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.search-box{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 9.375em;
}


.cart{
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    margin-top: 0.3em;
    padding: 0.3em;
    top: 0.3125em;
    left: 90%;
}

.profile{
    position: absolute;
    top: -0.2em;
    right: 1%;
}

.nav-right{
    float: right;
    line-height: 80px;
}


.nav a:hover{
    color: #fd8f4b;
}

/*FOR NAVBAR*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content-container{
    padding-top: 80px;
}
/*END OF NAVBAR*/

.main-body{
    height: 31.25em;
    width: 43em;
    color: white;
    position: fixed;
    top: 20%;
    left: 28%;  
}

.main-body-bg{
    height: 31.25em;
    width: 42.5em;
    background-color: black;
    opacity: 0.85;
    color: white;
    position: fixed;
    top: 20%;
    left: 28%;
}

.cart-header{
    position: absolute;
    top: 5%;
    left: 5%;
}

.cart-header-label{
    font-size: 30px;
    font-family: ralewaysemibold;
    border: none;
}

.cart-body{
    width: auto;
    height: 650px; 
    margin: 20px;
    display: block;
    color: white;
    font-family: ralewaysemibold;
    background-color: lightgray;
}

.table-header{
    border-top-color: white;
    border-top-width: thin;
    border-top-style: solid;
    top: 31%;
    padding-top: 5px;
    width: 44%;
    position: fixed;
    padding-bottom: 15px;
}


.sTitle{
    margin-left: 15%;
    margin-top: 1%;
    font-size: 20px;
}
.sCost{
    margin-left: 45%;
    font-size: 20px;
}

.pTitle{
    font-size: 20px;
    width: 40%;
    margin-left: 7%;
    margin-top: 1%;
    color: white;
}

.pCost{
    margin-left: 40%;
    font-size: 20px;        
}

.product-container{
    position: fixed;
    width: 44%;
    top: 38%;
    border-top-width: thin;
}

.checkout{
    position: fixed;
    top: 80%;
    left: 45%;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #fd8f4b;
    opacity: 0.8;
    width: 10%;
    font-family: ralewayregular;
    font-size: 20px;
    color: white;
    text-align: center;
    transition: 0.4s;
    transform-style: preserve-3d;
    perspective: 800px;
}

.checkout:hover{
    background-color: #f66d18;
    cursor: pointer;
}