/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lemonmilk;
    src: url(fonts/lemonmilk.otf);
    font-weight: normal;
    font-style: normal;

}
/*----------------------------------------------------*/
*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}


.dashboard-container{
    background-color:#464646;
    height: 100%;
    width: 100%;
    margin: 0px;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
/*
    display: flex;
    flex-direction: column;
*/
}

.games-container{
    margin: 30px;
    margin-top: 40px;
    display: block;    
}

.popular-games, .recent-releases, .featured{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 350px;
    flex-grow: 1;

}

.popular-games,.product-title,.release-date{
    font-family: ralewayregular;
    text-align: center; 
}

.recent-releases,.product-title,.release-date{
    font-family: ralewayregular;
    text-align: center;  
}

.release-date{
    color: #FFF;
    font-size: 12px;
}

.product-title{
    color: #FFF;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-image{
    height: 200px;
}

.header-title{
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.headers{
    font-size: 24px;
    color: #FFF;
}

.see-all{
    color: #fd8f4b;
    font-size: 14;
    margin-left: 50px;
    padding: 5px;
}

.see-all:hover{
    background-color: #e6e6e6;

}

.see-all a{
    color: #fd8f4b;
    text-decoration: none;
}



.details{
    margin-top: 15px;
}

.rent-button{
    height: 20px;
    width: 75px;
    background-color:#fd8f4b;
    padding: 5px;
    color: white;
    font-family: ralewayregular;
    text-align: center;
    align-content: center;
    display: inline-block;
    line-height: 20px;
    margin-top: 5px;
    border-style: none;
    border-radius: 3px;
}

.rent-button:hover{
    background-color: #f66d18;
    cursor: pointer;
}


.product{
    max-width: 200px;
    min-width: 200px;
    max-height: 315px;
    min-height: 315px;
    display: block;
    margin: 5px;
    background-color: #373737;
    align-self: left;
}

.search-container{
    width: 60%;
    margin: auto;
    display: flex;
}

.search-type{
     width: 100px;
    height: 40px;
    background-color: #707070;
    color: #FFF;
    float: left; 
}

.search-bar{
    width: 100%;
    height: 40px;
    background-color: #585858;
    color: #fff;
    border: none;
    resize: none;
    font-size: 20px;
    padding: 0px 10px;
    float: left;
}

.search-button{
    width: 40px;
    height: 40px;
    background-color: #707070;
    float: left;
}

.search-results{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: wrap;
    flex-grow: 1;
    color: #FFF;
}

.search-results,.product-title,.release-date{
    font-family: ralewayregular;
    text-align: center; 
}

#search-results-label{
    visibility: hidden;
}

/*SCROLLBARS*/
*{
  scrollbar-width: thin;
  scrollbar-color: #373737 #464646;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #464646;
}
*::-webkit-scrollbar-thumb {
  background-color: #373737;
  border-radius: 0;
  border: 3px solid #464646;
}