@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}

.page-container{
    background-color:#464646;
    height: 100%;
    width: 100%;
    margin: 0px;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
/*
    display: flex;
    flex-direction: column;
*/
}

.games-container{
    margin: 30px;
    margin-top: 40px;
    display: block;    
}

.product-container{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.header-title{
    display: flex;
    text-align: center;
    margin-top: 10px;
}

.headers{
    font-size: 24px;
    color: #FFF;
}

.filter-container{
    display: flex;
    text-align: center;
    margin-top: 10px;
    color: #FFF;
    font-family: ralewayregular;
}

.details{
    margin-top: 15px;
}

.product-container,.product-title,.release-date{
    font-family: ralewayregular;
    text-align: center; 
}

.release-date{
    color: #FFF;
    font-size: 12px;
}

.product-title{
    color: #FFF;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-image{
    height: 200px;
    display: block;
    margin: 0 auto;
}

.rent-button{
    height: 20px;
    width: 75px;
    background-color:#fd8f4b;
    padding: 5px;
    color: white;
    font-family: ralewayregular;
    text-align: center;
    align-content: center;
    display: inline-block;
    line-height: 20px;
    margin-top: 5px;
    border-style: none;
    border-radius: 3px;
}

.rent-button:hover{
    background-color: #f66d18;
    cursor: pointer;
}

.product{
    max-width: 200px;
    min-width: 200px;
    max-height: 315px;
    min-height: 315px;
    display: block;
    margin: auto;
    margin-top: 5px;
    background-color: #373737;
    align-self: left;
}

/*SCROLLBARS*/
*{
  scrollbar-width: thin;
  scrollbar-color: #373737 #464646;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #464646;
}
*::-webkit-scrollbar-thumb {
  background-color: #373737;
  border-radius: 0;
  border: 3px solid #464646;
}