/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;

}
/*----------------------------------------------------*/

*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}

.bg{
    background-image: url("image/bg2.jpg");
    height: 100%;
}

.login-container{
    width: 400px;
    height: fill;
    margin: 15px;
    margin-right: 50px;
    padding: 15px;
    background-color: #373737;
    float: right;
    text-align: center;  
}

.login-header{
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
}

input[type=submit]{
    height: 40px;
    width: 290px;
    background-color: #fd8f4b;
    opacity: 0.8;
/*    background-image: -webkit-linear-gradient(right, #37AC99,#076FAD);*/
    color: white;
    border-style: none;
    font-family: ralewayregular;
    transition: 0.4s;
    transform-style: preserve-3d;
    perspective: 800px;
}

.form-content{
    display: inline-block;
    padding: 0 20px;
}

.item-label{
    color: #fff;
    font-family: ralewayregular;
}

.input-field{
    width: 100%;
    height: 30px;
    background-color: #373737;
    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
}

.input-field-container{
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-field-container .tooltip-text{
    visibility: hidden;
    background-color: #fd8f4b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
    white-space: nowrap;
}

.input-field-container:hover .tooltip-text{
    visibility: visible;
}

.input-section{
    text-align: left;
    margin-bottom: 20px;
}

.register{
    color: gray;
    font-family: ralewayregular;
}

.register-link{
    color: white;
    font-family: ralewayregular;
}

#nav-bar{
    height: 5em;
    background-color: #373737;
    overflow: hidden;
    padding: 0 20px;
    color: white;
    position: relative;
    z-index: 99;
}

.logocontainer{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 2.5em;
    float: left;
    padding-right: 2.1875em;
}

.logo{
    height: 2.5em;
}