/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lemonmilk;
    src: url(fonts/lemonmilk.otf);
    font-weight: normal;
    font-style: normal;

}
/*----------------------------------------------------*/
*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}


.dashboard-container{
    background-color:#fff;
    height: 100%;
    width: 100%;
    margin: 0px;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}


#nav-bar{
    height: 5em;
    background-color: #737373;
    overflow: hidden;
/*
    overflow: hidden;
    display: inline-block;
*/
    padding: 0 20px;
    color: white;
    position: relative;
    z-index: 99;
}

.logo{
    height: 2.5em;
    margin-top: 1%;
    float: left;
    padding-right: 2.1875em;
}

.nav{
    line-height: 5em;
}

.nav a{
    font-family: ralewaysemibold;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0 10px;
    transition: 0.4s;
}

.search-container{
    position: absolute;
    transform: translate(-50%, -35%);
    background: #2f3640;
    height: 1.875em;
    border-radius: 30px;
    margin-top: 0.625em;
    padding: 0.625em;
    top: 1.3em;
    left: 83%;
}

.search-btn{
    color: #fd8f4b;
    float: right;
    width: 10px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.search-box{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 9.375em;
}


.cart{
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    margin-top: 0.3em;
    padding: 0.3em;
    top: 0.3125em;
    left: 90%;
}

.profile{
    position: absolute;
    top: -0.2em;
    right: 1%;
}

.nav-right{
    float: right;
    line-height: 80px;
}


.nav a:hover{
    color: #fd8f4b;
}

/*FOR NAVBAR*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content-container{
    padding-top: 80px;
}
/*END OF NAVBAR*/

/*
.content-container{
    padding: 0 20px;
}
*/
.content-container{
    height: 100%;
    width: 100%;
    display: block;
}

.header{
    width: 100%;
    height: 350px;
}

.header img{
    width: 100%;
    height: 100%;
}

.content{
    background-color: #fdebeb;
    width: 50%;
    position: absolute;
    left: 25%;
    top: 40%;
    display: block;
    
}

.user-details{
    display: flex;
    height: 200px;
    border-bottom: solid black 1px;
}

.image-wrapper{
    height: 170px;
    width: 170px;
}

.image-wrapper img{
    height: 100%;
    width: 100%;
}

.user{
    display: block;
    position: absolute;
    top: 8%;
    left: 30%;
}

.username{
    font-size: 26px;
}

.location-container{
    display: flex;
    margin-top: 30px;
}

.location-label{
    font-size: 26px;
    
}

.location{
    font-family: ralewayregular;
    font-size: 26px;
    margin-left: 15px;
}

.logout-container{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 90%;
    top: 12%;
}

.logout{
    width: 100%;
    height: 100%;
}

.listing-container{
    height: 100%;
    width: 100%;
    top: 50%; 
    margin-bottom: 50px;
}

.listing-label
{
    margin-top: 55px;
    margin-left: 20px;
    font-size: 24px;
    font-family: ralewaysemibold;
}

.product{
    margin-top: 20px;
    width: 200px;
    display: block;
    text-decoration: none;
}

.available-image{
    height: 200px;
}

.available-details{
    margin-top: 15px;
    color: black;
    text-decoration: none;
}

.product-title{
    font-size: 16px;
    text-decoration: none;

}

.price{
    font-size: 14px;
    text-decoration: none;
}

.product,.available-details,.price{
    text-align: center;
}

.rent-button{
    height: 30px;
    width: 150px;
    background-color:#fd8f4b;
    padding: 5px;
    color: white;
    font-family: ralewayregular;
    text-align: center;
    align-content: center;
    display: inline-block;
    line-height: 30px;
    margin-top: 5px;
    border-style: none;
    border-radius: 3px;
}

.rent-button:hover{
    background-color: #f66d18;
    cursor: pointer;
}
