/*--------------------FONTS USED--------------------*/
@font-face {
    font-family: ralewayregular;
    src: url(fonts/ralewayregular.ttf);
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: ralewaysemibold;
    src: url(fonts/ralewaysemibold.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: lemonmilk;
    src: url(fonts/lemonmilk.otf);
    font-weight: normal;
    font-style: normal;

}
/*----------------------------------------------------*/
*{
    list-style: none;
    font-family: ralewaysemibold;
    margin: 0;
    padding: 0;
}


.dashboard-container{
    background-color:#464646;
    height: 100%;
/*    width: 100%;*/
    margin: 0px;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    
}

.content-container{
/*    height: 100%;*/
    width: 100%;
    margin: 0px;
    display: inline-flex;
    flex-wrap: wrap; 
    flex-direction: column;
}


#nav-bar{
    height: 5em;
    background-color: #737373;
    overflow: hidden;
    padding: 0 20px;
    color: white;
    position: relative;
    z-index: 99;
}

.logo{
    height: 2.5em;
    margin-top: 1%;
    float: left;
    padding-right: 2.1875em;
}

.nav{
    line-height: 5em;
}

.nav a{
    font-family: ralewaysemibold;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0 10px;
    transition: 0.4s;
}

.search-container{
    position: absolute;
    transform: translate(-50%, -35%);
    background: #2f3640;
    height: 1.875em;
    border-radius: 30px;
    margin-top: 0.625em;
    padding: 0.625em;
    top: 1.3em;
    left: 83%;
}

.search-btn{
    color: #fd8f4b;
    float: right;
    width: 10px;
    height: 30px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}


.search-box{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 9.375em;
}


.cart{
    height: 1.2em;
    width: 1.2em;
    position: absolute;
    margin-top: 0.3em;
    padding: 0.3em;
    top: 0.3125em;
    left: 90%;
}

.profile{
    position: absolute;
    top: -0.2em;
    right: 1%;
}


.nav-right{
    float: right;
    line-height: 80px;
}


.nav a:hover{
    color: #fd8f4b;
}

/*FOR NAVBAR*/
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content-container{
    padding-top: 80px;
}
/*END OF NAVBAR*/


.details-container{
    height: 17em;
    width: 80%;
/*    background-color: black;*/
    background: #373737;
    position: absolute;
    z-index: 2;
    border-style: none;
    padding: 15px;
    padding-left: 20px;
    margin-left: 10%;
    margin-top: 1%;

    box-shadow: 2px 2px 2px #00000054;
    
}

.product-image-container{
    height: 14.375em;
    width: 11.53875em;
    position: absolute;
    top: 2em;
    z-index: 60;
    
}

.product-image{
    height: 100%;
    width: 100%;
    position: absolute; 
}

.product-container{
    position: absolute;
    height: 75%;
    width: 100%;
    top: 0em;
    display: flex;
    left: 20%;
    
}

.product-name{
    font-family: ralewaysemibold;
    color: white;
    font-size: 26px;
/*    position: absolute;*/
}

.details-list{
    list-style: none;
    display: inline;
}

.details{
    color: #d4d4d4;
    font-family: ralewayregular;
    font-size: 18px;
    margin-top: 5px;
    padding-left: 10px;
    
}

#release-label, #genre-label, .rating-label, .user-rating-label{
    font-family: ralewayregular;
    color: white;
}

#release, #genre, #rating-label{
    font-family: ralewayregular;
    color: white;
}

.rating-container{
    display: inline-flex;
    padding-top: 12px;
    width: 80%;
    color: white;
    height: 1.5em;
}

.rating-label{
    font-size: 18px;
    
}

.rating{
    font-size: 18px;
    font-family: ralewayregular;
    padding-left: 10px;
}

.rent-button{
    height: 30px;
    width: 18.75em;
    background-color:#fd8f4b;
    padding: 5px;
    color: black;
    font-family: ralewayregular;
    text-align: center;
    align-content: center;
    display: inline-block;
    line-height: 30px;
    margin-top: 5px;
    border-style: none;
    border-radius: 3px;
    position: absolute;
    top: 52%;
/*    left: 10%;*/
}

.rent-button:hover{
    background-color: #f66d18;
    cursor: pointer;
}



.description-container{
    display: flex;
    padding-top: 7px;
    width: 100%;
    color: black;
    
}

.description-label{
    font-size: 20px;
    color: #333;
    
}

.description-container p{
    font-size: 20px;
    font-family: ralewayregular;
    flex-wrap: wrap;
    margin-left: 15px;
    line-height: 1.5;
}

.body-container{
    height: 50%;
    width: 90%;
    margin: 0;
    background-color: #fff;
    padding: 3%;
    position: relative;
    top: 16.875em;
/*    display: block;*/
}

.available-container{
    display: flex;
    margin-top: 10px;
}

.available-label{
    font-size: 24px;
    font-family: ralewaysemibold;
    color: black;
    margin-top: 20px;
}

.product{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    display: block;
}

.available-image{
    height: 200px;
}

.available-details{
    margin-top: 15px;
    color: black;
}

.product-title{
    font-size: 16px;
    color:#fd8f4b;
    margin-bottom: 5px;

}

.price{
    font-size: 14px;
    margin-bottom: 5px;
    font-family: ralewayregular;
}

.product,.available-details,.price{
    text-align: center;
}

.rent_days{
    height: 30px;
    width: 150px;
    background-color:#fd8f4b;
    padding: 5px;
    color: white;
    font-family: ralewayregular;
    text-align: center;
    align-content: center;
    line-height: 30px;
    margin-top: 5px;
    border-style: none;
}

.rent_button{
    height: 30px;
    width: 150px;
    background-color:#fd8f4b;
    padding: 5px;
    color: black;
    font-family: ralewayregular;
    text-align: center;
    align-content: center;
    display: inline-block;
    line-height: 30px;
    margin-top: 5px;
    border-style: none;
    font-weight: bold;
    padding-bottom: 15%;
    font-size: medium;
}

.rent_button:hover{
    background-color: #f66d18;
    cursor: pointer;
}

#1{
    float: left;
}

#game_title{
    margin-left: 10%;
    margin-top: 3%;
}

.left_info{
    width: 45%;
    padding-top: 14px;
}

.right_info{
    padding-left: 5%;
    margin-top: 14px;
}

.important_info{
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 10%;
}
.details_lower{
    margin-top: 2%;
    background-color: #464646;
    height: 45%;
    width: 94%;
    padding-top: 3px ;
    margin-left: 1%;
}
.input_number{
    width: 20%;
    height: 100%;
    font-family: ralewayregular;
    border: none;
    background-color: #fd8f4b;
    color: black;
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    font-size: large
}

.input_number:focus{
    outline: none;
    font-size: large;
}

.days_divide{
    display: flex;
}

.days_display{
    color: white;
    font-family: ralewayregular;
    font-size: large;
}


